# Dev and CI
.phpunit.result.cache
/dist/
/build/
docker-compose.override.yml
phpcs.xml
phpunit.xml
/tests/support/Generated

# Composer
/vendor/
composer.lock

# Env
.env
.env.*
.*.env
*.env
!.env.example
!.example.env
!example.env

# Editor/ IDE
.idea/
.project/
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db
